# Assignment 1. Traffic volume prediction.
by Anvar Kurmukov,
updated by Bogdan Kirillov, Hekmat Taherinejad, Satyarth Mishra Sharma

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using a public dataset compiling weather information and traffic data continuously monitored in the Twin Cities, Minnesota from 2012 to 2018. The dataset page can be found [here](https://archive.ics.uci.edu/ml/datasets/Metro+Interstate+Traffic+Volume). We've slightly modified it so please download the dataset provided on Canvas.  

You need to download `Metro_Interstate_Traffic_Volume.csv` and place it in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `Metro_Interstate_Traffic_Volume.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [2]:
COLAB_P = False
if COLAB_P:
    print("Upload your file, then read it with pd.read_csv()")
    from google.colab import files
    uploaded = files.upload()
    fn = list(uploaded.keys())[0]
    print("File is uploaded to ", fn)
else:
    print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [3]:
# Load the data
db = pd.read_csv("Metro_Interstate_Traffic_volume.csv")

In [4]:
# Observe top 10 observations (int)
db.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [5]:
# Observe last 10 observations (int)
db.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,None,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,None,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,None,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,None,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,None,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,None,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [6]:
# Print all the columns/features names (int)
features = db.columns
print('Features: ')
print(*features, sep = ', ')

Features:
holiday, temp, rain_1h, snow_1h, clouds_all, weather_main, weather_description, date_time, traffic_volume

In [7]:
def CountVowel(words,position):
    """
    words is an array of strings
    position is a position of vowel in a string
    """
    counter = 0
    vowels = ['a','e','u','i','o']
    
    for word in words:
        if word[position] in vowels:
            counter += 1
    return counter

# Q1.1 How many columns end with a vowel?
print('Q1.1 How many columns end with a vowel?', CountVowel(features,-1))
    
# Q1.2 How many columns start with a vowel?
print('# Q1.2 How many columns start with a vowel?', CountVowel(features,0))

# Q1.3 Which columns are associated with the condition of weather?


# Q1.4 How many columns have `th` in their names?
def FindCombination(words, combination):
    """
    words is an array of strings
    combination is a string to find
    """
    counter = 0
    
    for word in words:
        if combination in word:
            counter += 1
    return counter

print('# Q1.4 How many columns have `th` in their names?', FindCombination(features,'th'))

Q1.1 How many columns end with a vowel? 2
# Q1.2 How many columns start with a vowel? 0
# Q1.4 How many columns have `th` in their names? 2

In [8]:
# Print data size (int)
print('Print data size',db.shape)

# Q2.1 How many observations are in the data?
print('Q2.1 How many observations are in the data?',db.shape[0])

# Q2.2 How many features are in the data?
print('Q2.2 How many features are in the data?',db.shape[1])

Print data size (48204, 9)
Q2.1 How many observations are in the data? 48204
Q2.2 How many features are in the data? 9

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [9]:
# Display number of not NaN's in every column (int)
print('Display number of not NaNs in every column',db.count(), ' ', sep = '\n')

# Q3.2 How many NA values are in the `temp` column?
print('Q3.2 How many NA values are in the `temp` column?',db['temp'].isna().sum(), '\n')

# Q3.5 How many explicit NA values are in the `traffic_volume` column?
print('Q3.5 How many explicit NA values are in the `traffic_volume` column?', db['traffic_volume'].isna().sum())

Display number of not NaNs in every column
holiday                48204
temp                   48203
rain_1h                48203
snow_1h                48204
clouds_all             48201
weather_main           48203
weather_description    48201
date_time              48204
traffic_volume         48199
dtype: int64

Q3.2 How many NA values are in the `temp` column? 1

Q3.5 How many explicit NA values are in the `traffic_volume` column? 5

In [10]:
# Now drop rows with NaN with `.dropna`. Remeber to either reassign your dataframe or provide `inplace=True` argument.
db.dropna(inplace = True)

In [11]:
# Display basic data statistics using .describe()
db.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48190.000000  48190.000000  48190.000000  48190.000000    48190.000000
mean     281.201366      0.334356      0.000222     49.369267     3259.859079
std       13.337406     44.795638      0.008169     39.016127     1986.972809
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1192.250000
50%      282.440000      0.000000      0.000000     64.000000     3380.000000
75%      291.800000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [12]:
# Count number of unique values in every column (int)
print('Count number of unique values in every column', db[features].nunique(), ' ', sep = '\n',)

# Q4.4 How many unique values are in the `snow_1h` column?
print('Q4.4 How many unique values are in the `snow_1h` column?', db['snow_1h'].nunique(),'\n')

# Q4.5 How many unique values are in the `rain_1h` column?
print('Q4.5 How many unique values are in the `rain_1h` column?', db['rain_1h'].nunique())

Count number of unique values in every column
holiday                   12
temp                    5843
rain_1h                  372
snow_1h                   12
clouds_all                60
weather_main              11
weather_description       38
date_time              40562
traffic_volume          6704
dtype: int64

Q4.4 How many unique values are in the `snow_1h` column? 12

Q4.5 How many unique values are in the `rain_1h` column? 372

In [13]:
# Count frequency of the values in different columns (list of ints in ascending order)

# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
# numpy's `unique` function can be useful for this task

# Q5.1 For every unique `weather_main` value give its number of occurences.
a = np.sort(db['weather_main'].value_counts().values)
print('number of occurences of unique values in weather_main:', *a, sep = ' ')
b = np.sort(db['weather_description'].value_counts().values)
# Q5.2 For every unique `weather_description` value give its number of occurences.
print('\n','number of occurences of unique values in weather_description: ', b, sep = ' ',)

number of occurences of unique values in weather_main: 4 20 912 1034 1359 1821 2876 5671 5950 13384 15159

 number of occurences of unique values in weather_description:  [    1     2     2     3     4     6     6    11    13    13    15    18
    20    37    52    54    63    64   125   136   293   467   616   651
   673   912  1100  1359  1664  1726  1946  1955  3371  3458  4665  5081
  5950 11658]

In [14]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)
stats = ['max','min','mean','std']

# Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
print('Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?\n',db['traffic_volume'].describe()[stats].apply(lambda x: round(x,3)),'\n')

# Q6.2 What are the max, min, mean and the std of the `clouds_all` column?
print('Q6.2 What are the max, min, mean and the std of the `clouds_all` column?\n',db['clouds_all'].describe()[stats].apply(lambda x: round(x,3)))

Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
 max     7280.000
min        0.000
mean    3259.859
std     1986.973
Name: traffic_volume, dtype: float64

Q6.2 What are the max, min, mean and the std of the `clouds_all` column?
 max     100.000
min       0.000
mean     49.369
std      39.016
Name: clouds_all, dtype: float64

In [15]:
# Display data types of all columns (int)
print(db.dtypes, '\n')

# Q7.1 How many columns have `object` data type?
print('Q7.1 How many columns have `object` data type?',  (db.dtypes == 'object').sum(), '\n')

# Q7.3 How many columns have `float64` data type?
print('Q7.3 How many columns have `float64` data type?',  (db.dtypes == 'float64').sum())

holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all             float64
weather_main            object
weather_description     object
date_time               object
traffic_volume         float64
dtype: object

Q7.1 How many columns have `object` data type? 4

Q7.3 How many columns have `float64` data type? 5

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [16]:
# Select rows by position (int) 

# Q8.2 What is the weather description of the time slot with index 999?
print('Q8.2 What is the weather description of the time slot with index 999?',db.loc[999,'weather_description'])

# Q8.4 What is the weather main of the time slot with index 314?
print('Q8.4 What is the weather main of the time slot with index 314?',db.loc[314,'weather_main'])

Q8.2 What is the weather description of the time slot with index 999? overcast clouds
Q8.4 What is the weather main of the time slot with index 314? Clouds

In [17]:
# Select rows by index (int)

# Q9.3 How much is cloud coverage on the index 1045?
print('Q9.3 How much is cloud coverage on the index 1045?',db.iloc[1045]['clouds_all'])

# Q9.5 When was the time slot with index of 38 captured?
print('Q9.5 When was the time slot with index of 38 captured?',db.iloc[38]['date_time'])

Q9.3 How much is cloud coverage on the index 1045? 20.0
Q9.5 When was the time slot with index of 38 captured? 2012-10-04 03:00:00

In [18]:
# Using mask or .query syntax select rows/columns (int)

# Q10.1 How many time slots have less than 270 temperature?
print('Q10.1 How many time slots have less than 270 temperature?',db[db['temp']<270].shape[0])

# Q10.4 How many time slots are foggy? (weather_main = Fog)
print('Q10.4 How many time slots are foggy? (weather_main = Fog)',db[db['weather_main'] == 'Fog'].shape[0])

Q10.1 How many time slots have less than 270 temperature? 9308
Q10.4 How many time slots are foggy? (weather_main = Fog) 912

In [19]:
# Q11.1 What is the traffic volume of November 20th 2016, at 20:00?
print('Q11.1 What is the traffic volume of November 20th 2016, at 20:00?',db[db['date_time']=='2016-11-20 20:00:00']['traffic_volume'].values[0],'\n')

# Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00?
print('Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00?',db[db['date_time']=='2012-10-16 19:00:00']['clouds_all'].values[0],'\n')

Q11.1 What is the traffic volume of November 20th 2016, at 20:00? 2070.0

Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00? 68.0

In [20]:
# Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent? 
print('Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent?',db[db['clouds_all']==75].iloc[99]['traffic_volume'])

# Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?
print('Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?',db[db['clouds_all']<=20].iloc[1337]['temp'])

Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent? 762.0
Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)? 277.06

In [21]:
# Create new columns using the old ones (new column in your DataFrame)

# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above
db['temp_in_celcius'] = db['temp']-273.15 #Is it data from Venus? temp ~ 500 C is really hot, btw

# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)
db['hot'] = db['temp']>300

# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
db['rainly_and_cloudy'] = (db['clouds_all']>50) & (db['rain_1h']>0.1)

# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
db['is_holiday'] = (db['holiday'] != "None")

# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
db['traffic_cat'] = pd.qcut(db['traffic_volume'], q = [0,0.2,0.4,0.6,0.8,1], labels =[1,2,3,4,5])

In [22]:
db['date'] = pd.to_datetime(db['date_time']).dt.date
db['is_holiday'] = db['date'].map(db[db['holiday'] != 'None'].groupby('date')['holiday'].min())
db['is_holiday'] = db.is_holiday.notna()

5# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to sum a number of existing columns:
```
data['sum'] = data[col1] + data[col2] + ...
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of sum using .apply():
```
data['sum'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['sum'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['sum'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [23]:
# Using mask or .query syntax select rows/columns (int).
# For working with dates, define helper functions that operate on the date_time string.

# Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?
print('Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?',db[db['temp']>270]['weather_main'].value_counts()['Clouds'])

# Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?

def divider_to_month_day(date):
    res = date.split()
    date_div = res[0].split('-')
    return "-".join(date_div[-2:])

res = db[(db['temp']>290)][['date_time','traffic_volume']] #returns a dataframe with date_time, traffic_volume column when temp>290
res['date_time'] = res['date_time'].apply(divider_to_month_day) #transforms a date to month-day format
print('Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?',\
      res[res['date_time'] == '03-08']['traffic_volume'].min())

Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"? 12133
Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290? 4780.0

In [24]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

db.head()
# Q15.3 What was the traffic volume of the highest amount of snow in one hour?
max_snow = db['snow_1h'].max()
print('Q15.3 What was the traffic volume of the highest amount of snow in one hour?\n',db[db['snow_1h'] == max_snow]['traffic_volume'])

# Q15.4 What is the median of temperatures captured in April 2017?

def divider_to_year_month(date):
    r = date.split()
    date_div = r[0].split('-')
    return "-".join(date_div[:-1])

res = db.loc[:,['date_time',"temp"]]
res['date_time'] = res['date_time'].apply(divider_to_year_month)
print('Q15.4 What is the median of temperatures captured in April 2017?',res[res['date_time']=='2017-04']['temp'].median())

Q15.3 What was the traffic volume of the highest amount of snow in one hour?
 20158    5167.0
20159    5167.0
20160    5167.0
20161    5167.0
20270     888.0
20271     888.0
Name: traffic_volume, dtype: float64
Q15.4 What is the median of temperatures captured in April 2017? 282.01

In [25]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?
print('Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True? ',db[db['rainly_and_cloudy']==True]['temp_in_celcius'].mean())

# Q16.2 What is the average traffic volume on holidays?
print('Q16.2 What is the average traffic volume on holidays? ',db[db['is_holiday']==True]['traffic_volume'].mean())

# Q16.3 What is the average traffic volume on non-holidays?
print('Q16.3 What is the average traffic volume on non-holidays?',db[db['is_holiday']==False]['traffic_volume'].mean())

# Q16.4 What is the average traffic volume in the highest quantile?
print('Q16.4 What is the average traffic volume in the highest quantile?', db[db['traffic_cat']==5]['traffic_volume'].mean())

# Q16.5 What is the average traffic volume in the lowest quantile?
print('Q16.5 What is the average traffic volume in the lowest quantile?',db[db['traffic_cat']==1]['traffic_volume'].mean())

Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?  13.584578809434692
Q16.2 What is the average traffic volume on holidays?  2541.4371894960964
Q16.3 What is the average traffic volume on non-holidays? 3281.497274534533
Q16.4 What is the average traffic volume in the highest quantile? 5870.913350649351
Q16.5 What is the average traffic volume in the lowest quantile? 485.5536195809998

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separate columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [26]:
# Create new columns based on `Captured` column
# Q17.1 Convert date to datetime format

db['date_time'] = pd.to_datetime(db['date_time'])

# Q17.2 Extract and store `year`
db['year'] = db['date_time'].dt.year

# Q17.3 Extract and store `month`
db['month'] = db['date_time'].dt.month

# Q17.4 Extract and store `day`
db['day'] = db['date_time'].dt.day

# Q17.5 Extract and store `weekday` (Monday - 0, Sunday - 6)
db['weekday'] = db['date_time'].dt.dayofweek
# Q17.6 Extract and store `hour`
db['hour'] = db['date_time'].dt.hour

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average traffic volume with for each month you could compute average traffic volumes for every month in a single command:
```
data.groupby('month')['traffic_volume'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','month'])['traffic_volume'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','month'])['traffic_volume'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['month'])['traffic_volume'].median()
data['gp_feature'] = data['month'].map(gp)
```
Now, if some timeslot has month == 2, its gp_feature will be equal to the median traffic volume amongst all observations in February

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [39]:
# Find some date related information from the data (int)

# Q18.2 What is the weekday with the lowest traffic volume?
grouped = db.groupby('weekday')['traffic_volume'].mean()
days = {0: 'Mon', 1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}
print('Q18.2 What is the weekday with the lowest traffic volume?',days[grouped[grouped==grouped.min()].index[0]])

# Q18.3 What is the average traffic volume during months of September?
group_months = db.groupby(['month','year'])['traffic_volume'].mean()
print('Q18.3 What is the average traffic volume during months of September?',int(group_months.loc[9].mean()))

Q18.2 What is the weekday with the lowest traffic volume? Sun
Q18.3 What is the average traffic volume during months of September? 3301

In [28]:
# Create some groupby features

# Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.
group = db.groupby('year')['traffic_volume'].median()
db['traffic_by_year'] = db['year'].map(group)

# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.
group = db.groupby('weekday')['traffic_volume'].median()
db['traffic_by_weekday'] = db['weekday'].map(group)

# Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.
group = db.groupby('traffic_cat')['temp_in_celcius'].mean()
db['temp_by_traffic'] = db['traffic_cat'].map(group)

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
- You may create or drop any features you want - try to only keep features which you think will be relevant to the prediction of traffic volume.

In [29]:
# Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`
y = db["traffic_volume"]
num_features = ['temp','snow_1h','clouds_all','rain_1h']
cat_features = ['weekday','is_holiday','hour']
good_columns = [*num_features, *cat_features]
X = db[good_columns]

Now it's time to split our data into train and test sets. Generally a random split is used, but one needs to be very careful with time series data - we need to make sure train and test data don't contain mixed adjacent time slots. In general with time series, it is recommended not to predict values from the past using input information from the future (although the applicability of this rule in our case is debatable), so we'll use sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) class here. TimeSeriesSplit splits data into a number of folds, then only provides data from past folds to train a model tested on the currently considered fold. So if we split our data into five parts, we'll get four folds:

1. Train on [0], test on [1]
2. Train on [0,1], test on [2]
3. Train on [0, 1, 2], test on [3]
4. Train on [0, 1, 2, 3], test on [4]

For the following tasks, you are required to use train and test indices from the last fold provided by TimeSeriesSplit with `n_splits` = 5.

In [30]:
#### Q21 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5

from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=5)

for train_index, test_index in tscv.split(X):
    X_train, _ = X.iloc[train_index], X.iloc[test_index]
    y_train, _ = y.iloc[train_index], y.iloc[test_index]

for train_index, test_index in tscv.split(X_train):
    X_train, X_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y.iloc[train_index], y.iloc[test_index]

In [31]:
# Create a predictive regression model of a traffic volume.

from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import PolynomialFeatures

# Q22.2 Use decision tree regression
tregressor = DecisionTreeRegressor()
tregressor.fit(X_train, y_train)

# Q22.1 Use linear regression with l2 regularization (Ridge regression)

#Normalizing the data

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train[num_features])
scaler.fit(X_val[num_features])

X_train[num_features] = scaler.transform(X_train[num_features])
X_val[num_features] = scaler.transform(X_val[num_features])

#Building a baseline model
ridge = Ridge(alpha=1)
ridge.fit(X_train,y_train)

# Q22.3 Use k nearest neighbours regression
kregressor = KNeighborsRegressor(n_neighbors=15)
kregressor.fit(X_train, y_train);

C:\Users\ivang\AppData\Local\Temp\ipykernel_11012\3644306324.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[num_features] = scaler.transform(X_train[num_features])
C:\Users\ivang\AppData\Local\Temp\ipykernel_11012\3644306324.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_val[num_features] = scaler.transform(X_val[num_features])

In [32]:
#### Use grid search to select optimal hyperparamters of your models. 
from sklearn.model_selection import GridSearchCV
import numpy as np
from sklearn.metrics import r2_score, make_scorer

scoring_func = make_scorer(r2_score)

# Q23.1 Alpha for a ridge regression
params = {'alpha':np.logspace(-6,1,20)} 

grid = GridSearchCV(estimator = ridge, param_grid = params, scoring = scoring_func)
grid.fit(X_val, y_val)

print(grid.best_score_)
print(grid.best_params_)

# Q23.3 Number of neighbours for the knn
params = {'n_neighbors':np.arange(1,21,1)} 

grid = GridSearchCV(estimator = kregressor, param_grid = params, scoring = scoring_func)
grid.fit(X_val, y_val)

print(grid.best_score_)
print(grid.best_params_)

# Q23.2 Depth for the tree
params = {'max_depth':np.arange(1,21,1)} 

for train_index, test_index in tscv.split(X):
    X_train, _ = X.iloc[train_index], X.iloc[test_index]
    y_train, _ = y.iloc[train_index], y.iloc[test_index]

for train_index, test_index in tscv.split(X_train):
    X_train, X_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y.iloc[train_index], y.iloc[test_index]

grid = GridSearchCV(estimator = tregressor, param_grid = params, scoring = scoring_func)
grid.fit(X_val, y_val)

print(grid.best_score_)
print(grid.best_params_)

0.17713944445335422
{'alpha': 10.0}
0.9457651530893113
{'n_neighbors': 16}
0.929904308965724
{'max_depth': 7}

## Train, test R^2 and MSE using decision tree regression

In [33]:
from sklearn.metrics import mean_squared_error as mse
from scipy.stats import pearsonr as r

for train_index, test_index in tscv.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
# Q24.2 Train, test MSE using decision tree regression
tregressor = DecisionTreeRegressor(max_depth=8)
tregressor.fit(X_train, y_train)
print('MSE','\ntrain:', mse(y_train,tregressor.predict(X_train)),'\ntest:', mse(y_test,tregressor.predict(X_test))) 

# Q25.2 Train, test R^2 using decision tree regression
print('\nR^2','\ntrain:', r(y_train,tregressor.predict(X_train)),'\ntest:', r(y_test,tregressor.predict(X_test)))

MSE
train: 202069.20724861618
test: 238261.26098174974

R^2
train: PearsonRResult(statistic=0.974164018473302, pvalue=0.0)
test: PearsonRResult(statistic=0.9688764449120182, pvalue=0.0)

## Train, test R^2 and MSE using linear regression

In [34]:
 # Q24.1 Train, test MSE using linear regression with l2 regularization
scaler = MinMaxScaler()
scaler.fit(X_train[num_features])
scaler.fit(X_test[num_features])

X_train[num_features] = scaler.transform(X_train[num_features])
X_test[num_features] = scaler.transform(X_test[num_features])

ridge = Ridge(alpha=10)
ridge.fit(X_train,y_train)

print('MSE','\ntrain:', mse(y_train,ridge.predict(X_train)),'\ntest:', mse(y_test,ridge.predict(X_test)))
print('\nR^2','\ntrain:', r(y_train,ridge.predict(X_train)),'\ntest:', r(y_test,ridge.predict(X_test)))

MSE
train: 3307375.16394213
test: 3248143.739105464

R^2
train: PearsonRResult(statistic=0.40642667744209043, pvalue=0.0)
test: PearsonRResult(statistic=0.40352223489829014, pvalue=3.00934945297e-312)

C:\Users\ivang\AppData\Local\Temp\ipykernel_11012\4270830596.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[num_features] = scaler.transform(X_train[num_features])
C:\Users\ivang\AppData\Local\Temp\ipykernel_11012\4270830596.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[num_features] = scaler.transform(X_test[num_features])

## Train, test R^2 and MSE using knn regression

In [35]:
# Q24.3 Train, test MSE using k nearest neighbours regression
kregressor = KNeighborsRegressor(n_neighbors=20)
kregressor.fit(X_train, y_train)
print('MSE','\ntrain:', mse(y_train,kregressor.predict(X_train)),'\ntest:', mse(y_test,kregressor.predict(X_test)))

# Q25.3 Train, test R^2 using k nearest neighbours regression
print('\nR^2','\ntrain:', r(y_train,kregressor.predict(X_train)),'\ntest:', r(y_test,kregressor.predict(X_test)))

MSE
train: 189242.10536959337
test: 215183.50478209442

R^2
train: PearsonRResult(statistic=0.9758762039699833, pvalue=0.0)
test: PearsonRResult(statistic=0.9721798146376979, pvalue=0.0)

In [36]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).
importances = sorted(zip(list(map(abs, ridge.coef_)), ridge.feature_names_in_), reverse = True)
print(*importances[:5], sep = '\n')

(1009.3594422295616, 'is_holiday')
(908.7623361407143, 'temp')
(297.31302514724695, 'snow_1h')
(240.2219616765373, 'clouds_all')
(159.9711234548191, 'weekday')

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells